{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-purple">Reset Password</h2>

    <form method="POST" class="mt-4">
        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" class="form-control" required>
        </div>

        <div class="mb-3">
            <label>New Password</label>
            <input type="password" name="new_password" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-purple w-100">
            Update Password
        </button>
    </form>
</div>
{% endblock %}
